.term {
  background: lightsteelblue;
  height: 240px;
  text-align: center;
  padding-top: 20%;
}

.definition {
  background: thistle;
  height: 240px;
  font-style: italic;
  box-sizing: border-box;
  padding: 5px;
  border: solid 1px black;
  display: none;
}

.row {
  margin-top: 10px;
}
